%html
  %head
    %title Circuits builder
    %link{:href => '/circuit.css', :type => 'text/css', :rel => 'stylesheet'}
    %script{:src => '/jquery-1.6.2.min.js', :type => 'text/javascript'}
    %script{:src => '/jquery-ui-1.8.16.custom.min.js', :type => 'text/javascript'}
    %script{:src => '/jquery.svg.js', :type => 'text/javascript'}
    %script{:src => '/element.js', :type => 'text/javascript'}
    %script{:src => '/circuit.js', :type => 'text/javascript'}
  %body
    %form{:action => '/save', :method => :post, :id => :save}
      %input{:type => :submit, :value => 'Save'}
    #board
      = @circuit.to_s
    #primitives
      - @primitives.each do |primitive|
        .primitive= primitive.to_svg
    .clear
